.remark-slide-content {
  background-image:  linear-gradient(to bottom, #ffffff  91%, #2BABE2 99%) ;
  background-position:  center;
  background-size:  100% 100%, cover ;
  font-size: 24pt;
}

.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  color: #454647;
  font-weight: bold;
}

.title-slide {
  background-image: url("img/logo.jpg"), linear-gradient(to bottom, #ffffff  90%, #2BABE2 99%) ;
  background-position: 2% 5% , center;
  background-size: 150px , 100% 100%, cover ;
}

.title-slide h1 {
  color: #2BABE2;
  font-weight: bold;
}

.title-slide h2 {
  font-weight: normal;
}

.title-slide h3 {
  color: #454647;
  font-weight: normal;
}

.chapter-slide {
  background-color: #2BABE2;
  background-image: url();
}

.chapter-slide h1 {
  position: absolute;
  top: 55%;
  left: 10%;
  text-align: left;
  color: #ffffff ;
}

/* Two-column layout */
.left-column {
  width: 20%;
  float: left;
  margin-top: -30px;
}

.right-column {
  width: 75%;
  float: right;
  margin-top: -30px;
}

.pull-left {
  float: left;
  width: 47%;
  margin-top: -30px;
}
.pull-right {
  float: right;
  width: 47%;
  margin-top: -30px;
}

.remark-code { 
    background-color: rgba(136, 57, 138, 0.3); 
    font-size: 16pt;
}

